<article>
  <a href="/dashboard"> &larr; Return to dashboard</a>
  <h2>
    Update My Profile
  </h2>
  <form class="edit-user-form">
    <div>
      <label for="user-name">Username</label>
      <input name="user-name" type="text" value="{{user.username}}" />
    </div>
    <div>
      <label for="email">Email</label>
      <input name="email" value="{{user.email}}" />
    </div>
     <div>
      <label for="password">Password</label>         
      <input type="password" name="password" />
    </div>
    <div>
      <input type="hidden" id="user-id" name="user-id" value={{user.id}} />
    </div>   
    <button type="submit">Save Changes</button>
  </form>
</article>


<script src="/javascript/edit-user.js"></script>